.paginas{
  width: 750px;
	margin: 10px auto;
	color: #000000;
	font-family: Arial, sans-serif;
  padding: 15px;
}
.paginas .inicio {
  text-align: center;
}
.paginas .inicio img{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block; 
}

.paginas .conteudo{
  font-size: 8px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}

.conteudo .cabecalho{
  border:1px solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.cabecalho tr{
  border:1px solid #000000;
  border-collapse: collapse;
}
.conteudo .texto{
  border:1px solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.texto th{
  background-color: gray;
}

.conteudo .tabela{
  border:1px solid #000000;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}